{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-baseline">
    <form action="{% url 'operador' %}" method="post">
        {% csrf_token %}           
        <button type="submit" class="btn fs-4"><i class="bi bi-arrow-left-square-fill"></i></button>
    </form>
    <h5 class="mt-5 mb-4">Edita Operador</h5>
</div>
    {% for item in lista %}
        <form action="{% url 'salvarOperador' %}" method="post">
            <input type="hidden" name="acesso" value="{{item.acesso}}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Matrícula</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="matricula" value="{{item.matricula}}">
                <div id="emailHelp" class="form-text">Não alterar</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nome</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="nome" value="{{item.nome}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="exampleInputPassword2" name="cargo" value="{{item.cargo}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword3" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="exampleInputPassword3" name="telefone" value="{{item.telefone}}">
            </div>   
            {% if item.acesso == 0 %}     
                <span class="mb-3">Caso queira criar um Login do sistema para o Operador, preencha os dados abaixo</span>  
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Login</label>
                    <input type="text" class="form-control" id="exampleInputPassword3" name="login">
                </div>        
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" name="senha">
                </div>    
            {% else %}   
                <p class="mb-3">Operador já possui acesso!</p>  
            {% endif %}
            <button type="submit" class="btn btn-dark">Editar</button>
        </form>
    {% endfor %}
   

{% endblock %} 