{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-baseline">
    <h3 class="mt-5 mb-4">Enunciados</h3>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="p-3 mb-2  bg-dark lh-base">
                        <th class="" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr class="p-3 mb-2  bg-light lh-base ">
                        <td><a class="fw-semibold text-dark col-2" href="verEnunciado01">Enunciado 01</a></td>
                        <td class="col-10">Liste o nome de cada operador e a quantidade de tickets que ele já atendeu</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado02">Enunciado 02</a></td>
                        <td>Busque qual(is) a(s) empresa(s) com o maior número de tickets já abertos. Listar o nome da empresa e a quantidade de tickets</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado03">Enunciado 03</a></td>
                        <td>Listar o nome de todos os usuários que não abriram tickets para atendimento em hospedagem de e-mail</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado04">Enunciado 04</a></td>
                        <td>Listar a quantidade de cada tipo de ticket que já foram criados</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado05">Enunciado 05</a></td>
                        <td>Listar o nome de cada empresa, o nome do operador que mais tickets atendeu daquela empresa e a quantidade de tickets atendidos</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado06">Enunciado 06</a></td>
                        <td>Insira um ticket no banco de dados do tipo infra, adicionando uma nova empresa e um novo usuário</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado07">Enunciado 07</a></td>
                        <td>Responda, utilizando uma consulta SQL, qual o ticket que demorou mais tempo para ser encerrado? Liste o nome da empresa, 
                            o usuário, o operador, a data de início e a data de encerramento</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado08">Enunciado 08</a></td>
                        <td>Responda, utilizando uma consulta SQL, qual o tipo de sistema operacional teve mais tickets abertos? Liste o nome do sistema operacional e a quantidade de tickets</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado09">Enunciado 09</a></td>
                        <td>Listar o nome de todas as empresas, quantos usuários que já abriram tickets essas empresas possuem e a quantidade de tickets abertos por cada empresa</td>
                    </tr>
                    <tr class="p-3 mb-2  bg-light lh-base">
                        <td><a class="fw-semibold text-dark" href="verEnunciado10">Enunciado 10</a></td>
                        <td>Listar o nome de todos os usuários e a quantidade de tickets abertos por cada um</td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar novo Operador</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'cadastraOperador' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Matricula</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" name="matricula">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="nome">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" name="cargo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="exampleInputPassword3" name="telefone">
                </div>              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-dark">Cadastrar </button>
        </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %} 