{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-baseline">
    <h3 class="mt-5 mb-4">Operador</h3>
    <button class="btn fs-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-square-fill"></i></button>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="p-3 mb-2 text-light bg-dark lh-1">
                        <th class="">Matricula</th>
                        <th class="">Nome</th>
                        <th class="">Cargo</th>
                        <th class="">Telefone</th>
                        <th class="text-center" colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista %} 
                        <tr class="lh-1">
                            <td class="">{{item.matricula}}</td> 
                            <td class=" ">{{item.nome}}</td>
                            <td class=" ">{{item.cargo}}</td>
                            <td class=" ">{{item.telefone}}</td>
                            <form action="{% url 'editaOperador' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="matricula" value="{{ item.matricula }}">
                                <td><button type="submit" class="btn"><i class="bi bi-pencil-square"></i></button></td>
                            </form> 
                            <form action="{% url 'deletaOperador' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="matricula" value="{{ item.matricula }}">
                                <td><button type="submit" class="btn"><i class="bi bi-trash3-fill"></i></button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar novo Operador</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'cadastraOperador' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Matricula</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" name="matricula">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nome Completo</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="nome">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" name="cargo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="exampleInputPassword3" name="telefone">
                </div>     
                <span class="mb-3">Caso queira criar um Login do sistema para o Operador, preencha os dados abaixo</span>  
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Login</label>
                    <input type="text" class="form-control" id="exampleInputPassword3" name="login">
                </div>        
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" name="senha">
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-dark">Cadastrar </button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5 text-light">.</div>
  <div class="row text-light">.</div>


{% endblock %} 