{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-end">
    <h3 class="mt-5">Tickets</h3>
    <form action="{% url 'cadastrarTicket' %}" method="post">
        {% csrf_token %}
        <td><button type="submit" class="btn fs-3"><i class="bi bi-plus-square-fill"></i></button></td>
    </form> 
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="p-3 mb-2 text-light bg-dark lh-1">
                        <th class="">Código</th>
                        <th class="">Descrição</th>
                        <th class="">Usuário</th>
                        <th class="">Início</th>
                        <th class="">Fim</th>
                        <th class="text-center" colspan="3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista %} 
                        <tr class="lh-1">
                            <td class="">{{item.cod_ticket}}</td> 
                            <td class=" ">{{item.desc_problema}}</td>
                            <td class=" ">{{item.usuario_cpf}}</td>
                            <td class=" ">{{item.data_inicio}}</td>
                            <td class=" ">{{item.data_fim}}</td>
                            <form action="{% url 'verTicket' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="code" value="{{ item.cod_ticket }}">
                                <td><button type="submit" class="btn"><i class="bi bi-box-arrow-up-right"></i></button></td>
                            </form>
                            <form action="{% url 'editaTicket' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cod_ticket" value="{{ item.cod_ticket }}">
                                <td><button type="submit" class="btn"><i class="bi bi-pencil-square"></i></button></td>
                            </form> 
                            <form action="{% url 'deletaTicket' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cod_ticket" value="{{ item.cod_ticket }}">
                                <td><button type="submit" class="btn"><i class="bi bi-trash3-fill"></i></button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{% url 'empresasClientes' %}" method="post">
                {% csrf_token %}           
                <button type="submit" class="btn fs-3"><i class="bi bi-arrow-left-square-fill"></i></button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Falta Fazer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'cadastraUsuario' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cnpj" value="{{ cnpj }}">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">CPF</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name="cpf">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="nome">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" name="cargo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword3" class="form-label">Setor</label>
                    <input type="text" class="form-control" id="exampleInputPassword3" name="setor">
                </div>              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-dark">Cadastrar </button>
        </form>
        </div>
      </div>
    </div>
  </div> -->

{% endblock %} 