{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-end mb-3">
    <form action="{% url 'enunciados' %}" method="post">   
        {% csrf_token %}  
        <button type="submit" class="btn fs-4"><i class="bi bi-arrow-left-square-fill"></i></button>
    </form>
    <h3>Enunciado 06</h3>

</div>
<div>

    <p>Insira um ticket no banco de dados do tipo infra, adicionando uma nova empresa e um novo usuário.</p>

    <h4>Solução:</h4>
    <h5>Para criar uma nova empresa e um novo usuário basta acessar o link abaixo</h5>

    <a class="nav-link" href="empresasClientes">Empresas Clientes</a>

    <h5>Para inserir o ticket basta acessar o link abaixo</h5>
    
    <a class="navbar-brand ms-2" href="tickets">Tickets</a>
</div>

       
 
   

{% endblock %} 