{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-end mb-3">
    <form action="{% url 'enunciados' %}" method="post">   
        {% csrf_token %}  
        <button type="submit" class="btn fs-4"><i class="bi bi-arrow-left-square-fill"></i></button>
    </form>
    <h3>Enunciado 02</h3>

</div>
<div>

    <p>Busque qual(is) a(s) empresa(s) com o maior número de tickets já abertos. Listar o nome da empresa e a quantidade de tickets</p>

    <h4>Código SQL</h4>
    <p>select empresa_cliente.nome, COUNT(tickets.cod_ticket) as quantidade from empresa_cliente
        inner join usuario
        on empresa_cliente.cnpj=usuario.empresa_cliente_cnpj
        INNER JOIN tickets
        ON tickets.usuario_cpf=usuario.cpf
        GROUP BY empresa_cliente.nome
        HAVING COUNT(tickets.cod_ticket)=
        (SELECT MAX(n.t) from (select empresa_cliente.nome,  COUNT(tickets.cod_ticket) as t from empresa_cliente
        inner join usuario
        on empresa_cliente.cnpj=usuario.empresa_cliente_cnpj
        INNER JOIN tickets
        ON tickets.usuario_cpf=usuario.cpf
        GROUP BY empresa_cliente.nome) as n);</p>
</div>
<h4>Resultado</h4>
    <table class="table table-striped">
        <thead>
            <tr class="p-3 mb-2 text-light bg-dark lh-1">
                <th class="">Nome da empresa</th>
                <th class="">Quantidade de tickets</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %} 
                <tr class="lh-1">
                    <td class="">{{item.nome}}</td> 
                    <td class="">{{item.quantidade}}</td> 
                                        
                </tr>
            {% endfor %}
       
        </tbody>
    </table>
   

{% endblock %} 