{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-end mb-3">
    <form action="{% url 'enunciados' %}" method="post">   
        {% csrf_token %}  
        <button type="submit" class="btn fs-4"><i class="bi bi-arrow-left-square-fill"></i></button>
    </form>
    <h3>Enunciado 01</h3>

</div>
<div>

    <p>Liste o nome de cada operador e a quantidade de tickets que ele já atendeu.</p>

    <h4>Código SQL</h4>
    <p>SELECT o.nome, count(ot.tickets_cod_ticket) AS quantidade 
        FROM operador o INNER JOIN operador_ticket ot	ON o.matricula = ot.operador_matricula GROUP BY 1</p>
</div>
<h4>Resultado</h4>
    <table class="table table-striped">
        <thead>
            <tr class="p-3 mb-2 text-light bg-dark lh-1">
                <th class="">Nome do operador</th>
                <th class="">Quantidade de tickets</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %} 
                <tr class="lh-1">
                    <td class="">{{item.nome}}</td> 
                    <td class="">{{item.quantidade}}</td> 
                                        
                </tr>
            {% endfor %}
       
        </tbody>
    </table>
   

{% endblock %} 