{% extends "index.html" %} 

{% block content %} 

<h1 class="mt-2">.</h1>
<div class="d-flex align-items-end mb-3">
    <form action="{% url 'enunciados' %}" method="post">   
        {% csrf_token %}  
        <button type="submit" class="btn fs-4"><i class="bi bi-arrow-left-square-fill"></i></button>
    </form>
    <h3>Enunciado 08</h3>

</div>
<div>
    <p>Responda, utilizando uma consulta SQL, qual o tipo de sistema operacional teve mais tickets abertos? Liste o nome do sistema operacional e a quantidade de tickets.</p>

    <h4>Código SQL</h4>
    <pre>SELECT infra.sistema_op, COUNT(infra.sistema_op) as tickets 
FROM infra
GROUP BY infra.sistema_op
HAVING COUNT(infra.sistema_op) = (
    SELECT MAX(i.sis) 
    FROM (
        SELECT COUNT(infra.sistema_op) AS sis 
        FROM infra GROUP BY infra.sistema_op
    )
as i);
    </pre>
</div>
<h4>Resultado</h4>
    <table class="table table-striped">
        <thead>
            <tr class="p-3 mb-2 text-light bg-dark lh-1">
                <th class="">Sistema Operacional</th>
                <th class="">Tickets</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %} 
                <tr class="lh-1">
                    <td class="">{{item.sistema_op}}</td> 
                    <td class="">{{item.tickets}}</td>                                                             
                </tr>
            {% endfor %}
       
        </tbody>
    </table>
   

{% endblock %} 